---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Card } from 'accessible-astro-components';
import ContentMedia from '../components/ContentMedia.astro';
import PageTitle from '../components/PageTitle.astro';
import CallToAction from '../components/CallToAction.astro';

export const prerender = true;
const pageTitle = "About";
---

<DefaultLayout title={pageTitle}>
  <div class="container">

    <PageTitle 
      title={pageTitle} 
      desc="Alex's Guardian was started in 2015 by Alexander Henderson with the goal to make Information Technology (IT) work easier and more transparent for end users / small businesses. We believe IT work should never be complicated, hidden behind bogus fees or stressful. You want someone to put YOU before profit. Which is exactly what we do at Alex's Guardian!" />
    <div>
      <p class="text-center">Whether you are looking for a new PC, wanting to install an entirely new home network, or want to spruce up your security game we do it all!</p>
      <ContentMedia imgSrc="/about/map.webp" lazyload alt="Map picture of Lancaster County, PA">
        <h2>Manheim, PA</h2>
        <p class="text-normal">
          Alex's Guardian is currently based, and primarily focused, in Manheim (Lancaster County, PA). Though, we have
          worked with clients out of the county/state. So do not let our primary focus discourage you from contacting
          us!
        </p>
      </ContentMedia>
      <div id="blog-card">
        <Card url="https://blog.alexsguardian.net" img="/about/alex-blog-card.webp" title="Alex's Blog" footer="">
          Follow Alex and his adventures in his homelab.
        </Card>
      </div>
    </div>
  </div>
  <CallToAction />
</DefaultLayout>

<style is:global>
  #blog-card > div {
    margin: auto;
  }
</style>