---
import Hero from '~/components/widgets/Hero.astro';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CustomNote from '~/components/custom/CustomNote.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'About us',
};

export const prerender = true;
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Server',
    }}
  >
    <Fragment slot="title">
      Who is <br />
      <span class="text-primary dark:text-white highlight"> Alex's Guardian</span>
    </Fragment>

    <Fragment slot="subtitle">
      Alex's Guardian was started in 2015 by Alexander Henderson with the goal to make Information Technology (IT) work easier and more transparent for end users / small businesses.
    </Fragment>
  </Hero>

  <CustomNote
    text=`At Alex's Guardian we believe IT work should never be complicated, hidden behind bogus fees, or stressful. The IT industry is full of companies that do just that or worse. Our mission is to keep IT work transparent and surprise free. So you don't have to worry about it.`
  />

  <Content
    isReversed
    image={{
      src: '~/assets/images/map.webp',
      alt: 'Map of Lancaster County, PA with a pin on Manheim.'
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl mb-4 font-heading">Manheim, PA</h3>
      <p>Alex's Guardian is currently based, and primarily focused, in Manheim (Lancaster County, PA). Though, we have worked with clients out of the county/state. So do not let our primary focus discourage you from contacting us!</p>
      <p class="mt-4 text-muted text-sm">Note: We currently do not have a store front as we are primarily a mobile business. If you need to drop devices off please give us a call or email! A store front will be coming in the future.</p>
    </Fragment>
  </Content>

  <ContentWrapper>
    <h3 class="mb-2 font-heading text-center text-2xl font-semibold">Current Local Coverage</h3>
    <p class="mb-4 text-center">Our local coverage area includes the following towns in Lancaster County:</p>
    <ol class="text-center grid grid-cols-4">
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Cornwall
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        East Petersburg
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Elizabethtown
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Lancaster City
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Landisville
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Lebanon
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Lititz
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Manheim
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Marietta
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Maytown
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Mt Joy
      </li>
      <li class="m-2">
        <Icon name="mdi:dots-circle" class="inline pr-1 pb-1" />
        Palmyra
      </li>
    </ol>
  </ContentWrapper>

  <CallToAction />

</Layout>
