---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import ContactForm from '../components/ContactForm.vue';
import PageTitle from '../components/PageTitle.astro';

const pageTitle = "Contact";
---

<DefaultLayout title={pageTitle}>

    <PageTitle title={pageTitle} desc="Ready to get in touch?" />

    <section>
        <div>
            <!-- // Styling Requires Tailwind CSS -->
            <ContactForm server:defer client:load />
        </div>
    </section>
</DefaultLayout>