---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Counter from '../components/Counter.astro';
import TestimonialCarousel from '../components/TestimonialCarousel.astro';
import CallToAction from '../components/CallToAction.astro';

export const prerender = true;
---

<DefaultLayout title="Home">
  <Hero />
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-10 text-6xl text-center">Services</h2>
      <p class="mb-2 text-lg text-center">
        We offer a lot of different services for end users and small businesses. Don't see something listed here? Reach
        out anyway and we can see about helping or point you in the right direction!
      </p>
      <br />
        <div class="flex flex-wrap gap-12 justify-center">
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="ion:call" title="Remote Support" color="blue" desc="Fast and reliable remote troubleshooting and support to resolve your IT issues without needing a site visit." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="ion:wrench" title="Device Maintenance" color="blue" desc="Ensure your devices run smoothly and efficiently with our comprehensive maintenance services. Extend the life of your devices!" />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:wallet" title="Device Consultancy" color="blue" desc="Expert advice on selecting, setting up, and optimizing devices to meet your specific needs, ensuring seamless integration and enhanced performance." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:virus" title="Virus and Malware Removal" color="blue" desc="Is your PC infected with malware or viruses? We can help eliminate threats and secure your system!" />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:server" title="Home Server Setup" color="blue" desc="Host your own services at home or decouple from the cloud with our expert home server solutions." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:cable-data" title="Network Design and Upgrade" color="blue" desc="Upgrade your network with our tailored design and optimization services for better connectivity and performance." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:hammer-screwdriver" title="Custom PC Builds" color="blue" desc="Whether you need a high-performance PC or one that fits your budget, we can build it for you!" />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:data" title="Data Recovery Services" color="blue" desc="Recover lost data from failed or broken devices with our specialized recovery solutions." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:cctv" title="Home & SMB Surveillance Solutions" color="blue" desc="Secure your home or business with our comprehensive security camera systems, providing peace of mind while you’re away." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="ion:md-cloud-upload" title="Backup Solutions" color="blue" desc="Protect your data with automated onsite or cloud backup services. Ensure your information is safe and easily recoverable in the event of a disaster." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="ion:ios-settings" title="Software Installation and Configuration" color="blue" desc="Assistance with installing and configuring software to ensure it runs optimally on your devices." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="ion:hardware-chip" title="Hardware Upgrades" color="blue" desc="Boost the performance of your existing devices with our hardware upgrade services." />
          </div>
          <div class="max-w-80 sm:w-1/2 lg:w-1/3">
            <Feature icon="mdi:printer-wireless" title="Printer Setup and Troubleshooting" color="blue" desc="Ensure your printers are correctly set up and maintained for hassle-free printing." />
          </div>
      </div>
    </div>
  </section>

  <section class="mb-[5rem] mt-[5rem]">
    <div class="container border-4 rounded border-[#95509f] bg-[var(--neutral-200)] text-[var(--neutral-900)] dark:bg-[var(--dark-100)] dark:text-[var(--neutral-200)]">
      <div class="p-12">
        <h3 class="mb-10 text-6xl text-center">NGO's</h3>
        <p class="mb-2 text-lg text-center">
          Do you run or particiapte in a not-for-profit organization? Are you looking for IT help? Let us help you!
          <a href="/ngo">Click here for more info.</a>
        </p>
      </div>
    </div>
  </section>

  <section class="mb-32 mt-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="20+" title="Happy" sub="end users" color="green" />
        <Counter count="6+" title="Happy" sub="small businesses" color="green" />
        <Counter count="7+" title="Years" sub="in service" color="green" />
        <Counter count="4.9" title="Rating" sub="Based on user Feedback" color="green" />
      </div>
    </div>
  </section>

  <section class="mb-16 mt-16">
    <div class="container">
      <TestimonialCarousel />
    </div>
  </section>
  <CallToAction />
</DefaultLayout>
