---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Button from '~/components/ui/Button.astro';


const metadata = {
  title: `Alex's Guardian`,
  ignoreTitleTemplate: true,
};

export const prerender = true;
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="actions">
      <Button 
        variant='secondary',
        text="Learn more",
        class="flex items-center rounded-md py-2 px-4 text-center text-white text-md transition-all shadow-sm hover:text-[var(--aw-color-text-default)] hover:shadow-lg disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-[var(--aw-color-text-muted)]",
        href="#us"
      />
      <Button
        variant='primary',
        class="group flex items-center rounded-md py-2 px-4 text-center text-white text-md transition-all shadow-sm hover:shadow-lg disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-[var(--aw-color-primary)]",
        href="/contact"
      >
        Contact us
        <span class="hidden group-hover:inline-flex items-center pl-2 max-w-0 overflow-hidden transition-all duration-700 ease-in-out animate-pulse group-hover:max-w-[3rem]">
          <Icon
            name="mdi:arrow-right"
            class="h-4 w-4 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
          />
        </span>
      </Button>
    </Fragment>
    <Fragment slot="title">
      Alex's Guardian
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Transparent IT, No Surprises.
      </span>
    </Fragment>
    <!-- <Fragment slot="image">
      <img src="/src/assets/images/low_poly_banner_design_2203.jpg" />
    </Fragment> -->
  </Hero>

  <!-- Features Widget *************** -->
  <Features
    id="services"
    title="Services"
    subtitle="Below are a few of the services we offer to our clients. Both end users and small businesses."
    items={[
      {
        title: 'Remote Support',
        description:
          `Fast and reliable remote troubleshooting support to resolve your IT issues without needing a site visit. Don't let an issue ruin your day!`,
        icon: 'mdi:phone',
      },
      {
        title: 'Infection Removal',
        description:
          'Is your PC infected with malware or viruses? We can help eliminate threats and secure your system!',
        icon: 'mdi:virus',
      },
      {
        title: 'Networking',
        description:
        'Whether you are looking to upgrade or build out an entirely new network, we got you covered!',
        icon: 'mdi:cable-data',
      },
      {
        title: 'Security',
        description:
          "Looking to secure your home our business with cameras or badge access? With our tailored security services you can rest easy knowing your place of residence or business is secure!",
        icon: 'mdi:cctv',
      },
      {
        title: 'Device Maintenance',
        description:
          'Ensure your devices run smoothly and efficiently with our comprehensive maintenance services. Extend the life of your devices so you can keep doing what you do best!',
        icon: 'mdi:wrench',
      },
      {
        title: 'Custom PCs',
        description:
          'Upgrade your battle station or workstation with our tailed building services!',
        icon: 'mdi:hammer',
      },
    ]}
  />

  <div class="flex items-center justify-center gap-2 dark:mb-0 mb-4">
    <Button 
      variant='secondary',
      text="SMB Services",
      class="flex items-center rounded-md py-2 px-4 text-center text-white hover:text-[var(--aw-color-text-default)] text-md transition-all shadow-sm hover:shadow-lg disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-[var(--aw-color-text-muted)]",
      href="/services#smb"
    />
    <Button 
      variant='secondary',
      text="End User Services",
      class="flex items-center rounded-md py-2 px-4 text-center text-white hover:text-[var(--aw-color-text-default)] text-md transition-all shadow-sm hover:shadow-lg disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-[var(--aw-color-text-muted)]",
      href="/services#eus"
    />
    <Button 
      variant='secondary',
      text="Not For Profits",
      class="flex items-center rounded-md py-2 px-4 text-center text-white hover:text-[var(--aw-color-text-default)] text-md transition-all shadow-sm hover:shadow-lg disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-[var(--aw-color-text-muted)]",
      href="/nfp"
    />
  </div>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline=""
    id="us"
    title="What Sets Us Apart"
    color="white"
    items={[
      {
        title: "Our Clients Come First.",
        description:
          'When you reach out for help. You want someone who will think of you first before profit.',
      },
      {
        title: 'No Sales Pitches.',
        description:
          `Don't you hate when tech companies constantly bug you with sales pitches? So do we.`,
      },
      {
        title: 'No Surprises.',
        description:
          `A lot of companies obfuscate invoices and documents. We strive to be as transparent as possible so you aren't surprised.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1558494949-ef010cbdcc31?q=80&w=1634&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Server Racks',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-[var(--aw-color-text-default)] sm:text-3xl mb-2">Starting on solid ground</h3>
      The tech industry is full of companies that either scam or over charge for help. We are one of the few trying to change that.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#043792] dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Stats
    stats={[
      { title: 'Happy Clients', amount: '20+' },
      { title: "Happy SMB's", amount: '6+' },
      { title: 'Years Served', amount: '7+' },
      { title: 'User Rating', amount: '4.9' },
    ]}
  />

  <Testimonials /> 

  <!-- CallToAction Widget *********** -->
  <CallToAction />
</Layout>
