---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import { Heading } from 'accessible-astro-components'
import TestimonialCarousel from '@components/TestimonialCarousel.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <Heading level="h2" class="mb-8">Services</Heading>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:phone" title="Remote Support">
          Fast and reliable remote troubleshooting and support to resolve your IT issues without needing a site visit.
        </Feature>
        <Feature icon="lucide:wrench" title="Device Maintenance">
          25+ components and counting, all tried and tested for the most optimal accessible experience for your
          visitors.
        </Feature>
        <Feature icon="lucide:wallet" title="Device Consultancy">
          Expert advice on selecting, setting up, and optimizing devices to meet your specific needs, ensuring seamless integration and enhanced performance.
        </Feature>
        <Feature icon="lucide:brick-wall-shield" title="Virus and Malware Removal">
          Is your PC infected with malware or viruses? We can help eliminate threats and secure your system!
        </Feature>
        <Feature icon="lucide:server" title="Home Server Setup">
          Host your own services at home or decouple from the cloud with our expert home server solutions.
        </Feature>
        <Feature icon="lucide:network" title="Network Design and Upgrade">
          Expert guidance on designing, upgrading, or creating your network infrastructure for optimal performance and security.
        </Feature>
        <Feature icon="lucide:cable" title="New/Reno Home Cabling">
          Professional installation of structured cabling for homes, ensuring reliable connectivity and future-proofing your network.
        </Feature>
        <Feature icon="lucide:hammer" title="Custom PC Builds">
          Whether you need a high-performance PC or one that fits your budget, we can build it for you!
        </Feature>
        <Feature icon="lucide:blocks" title="Data Recovery Services">
          Recover lost data from failed or broken devices with our specialized recovery solutions.
        </Feature>
        <Feature icon="lucide:hard-drive-upload" title="Backup Solutions">
          Protect your data with automated onsite or cloud backup services. Ensure your information is safe and easily recoverable in the event of a disaster.
        </Feature>
        <Feature icon="lucide:monitor-cloud" title="Software Installation and Configuration">
          Get assistance with installing and configuring software to ensure it runs optimally on your devices.
        </Feature>
        <Feature icon="lucide:cpu" title="Hardware Upgrades">
          Boost the performance of your existing devices with our hardware upgrade services.
        </Feature>
        <Feature icon="lucide:printer" title="Printer Setup and Troubleshooting">
          Ensure your printers are correctly set up and maintained for hassle-free printing.
        </Feature>
        <Feature icon="lucide:circle-question-mark" title="..And More!">
          IT involves a wide range of services. If you don't see what you're looking for, just ask!
        </Feature>
      </div>
    </div>
  </section>

  <section class="mt-64 mb-32">
    <div class="container">
      <Heading level="h2" class="mb-16">Company Stats</Heading>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="26+" title="Happy" sub="end users" />
        <Counter count="7+" title="Happy" sub="small businesses" />
        <Counter count="10+" title="Years" sub="in service" />
        <Counter count="4.9" title="Rating" sub="based on user feedback" />
      </div>
    </div>
  </section>

  <section class="my-16">
    <div class="container">
      <Heading level="h2" class="mb-16">What Our Clients Say</Heading>
      <TestimonialCarousel />
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
