---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import CustomContent from '~/components/custom/CustomContent.astro';
import CustomHeroText from '~/components/custom/CustomHeroText.astro';
import ContentWrapper from '~/components/custom/ContentWrapper.astro';
import { Icon } from 'astro-icon/components';
import Note from '~/components/widgets/Note.astro';
import CustomNote from '~/components/custom/CustomNote.astro';


const metadata = {
  title: 'Not For Profit',
};

export const prerender = true;
---

<Layout metadata={metadata}>
  <Hero
    tagline="Not For Profits"
    title="Elevate your organization with proper technology support"
    subtitle="Let us worry about your tech needs so you can keep doing what you do best!"
    image={{
      src: 'https://images.unsplash.com/photo-1722963220475-979db2dbf216?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Group of people placing hands in a circle',
    }}
  />

 <!--- IT SERVICES ---->

  <CustomHeroText 
    title='IT Support Services'
  >
    <Fragment slot="content">
      We understand that non-profit organizations often operate under tight budgets and require reliable, efficient technology to achieve their mission. That is why we offer comprehensive IT support tailored specifically to meet the needs of non-profits. Our services ensure your technology is always working for you, not against you.
    </Fragment>
  </CustomHeroText>

  <Content 
    id="remote-support"
    title="Remote Support"
    tagline='IT Support Services'
    isReversed
    items={[
      {
        title: "Help Desk",
        description: 'Quick response to critical issues.',
        icon: 'mdi:check-bold'        
      },
      {
        title: "Troubleshooting and Diagnostics",
        description: 'From software issues to network connectivity problems.',
        icon: 'mdi:check-bold'
      },
      {
        title: "System Updates",
        description: 'Keeping your software and security protocols up to date.',
        icon: 'mdi:check-bold'
      },
      {
        title: "User Support",
        description: 'Assisting your staff with everyday technology questions and challenges.',
        icon: 'mdi:check-bold' 
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525182008055-f88b95ff7980?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Guy on phone behind PC monitors'
    }}
  >
    <Fragment slot="content">
      Our remote IT support service is ideal for organizations that need fast and effective problem-solving without the delay of an on-site visit. Using secure remote access tools, our team can diagnose and resolve technical issues, perform software updates, and provide troubleshooting assistance — all from the comfort of your office.
    </Fragment>
  </Content>

  <CustomContent    
    id="onsite-support"
    title="On-site Support"
    content="Additionally for non-profits in our local service area, we offer on-site IT support to address more complex issues that require hands-on attention. Our team will come directly to your location to ensure your systems are functioning optimally."
    tagline='IT Support Services'
    isReversed
    isAfterContent
    items={[
      {
        title: "Hardware Repairs and Installations",
        description: 'Addressing issues with servers, workstations, or other equipment.',
        icon: 'mdi:plus-bold'        
      },
      {
        title: "Network Setup and Maintenance",
        description: 'Ensuring your internet and intranet systems are secure and efficient.',
        icon: 'mdi:plus-bold'
      },
      {
        title: "Training Sessions",
        description: 'Educating your staff on using new software or systems.',
        icon: 'mdi:plus-bold'
      },
      {
        title: "Technology Assessments",
        description: 'Identifying areas forimprovement to help your organization run more smoothly.',
        icon: 'mdi:plus-bold' 
      }
    ]} 
  >
  </CustomContent>


  <ContentWrapper>
    <p class="mb-2 font-sans">
      Whether remotely or in person, our IT support services are designed to minimize downtime, improve efficiency, and allow you to focus on what matters most — serving your community. <a href=/contact>Contact us</a> today to learn how we can support your mission through reliable, affordable technology solutions.
    </p>
  </ContentWrapper>

  <CustomNote
    text='Any hardware or software purchases are provided at cost.'
  />


 <!--- WEBSITE SERVICES ---->

  <CustomHeroText 
    title='Website Services'
  >
    <Fragment slot="content">
      For non-profit organizations, having a reliable and well-maintained website is essential to engage supporters, communicate your mission, and streamline operations. Our Website Hosting & Management Services are tailored to suit the needs of organizations both small and large. We offer two comprehensive levels of service, ensuring that you receive the functionality and support that best aligns with your goals and budget.
    </Fragment>
  </CustomHeroText>

  <Content 
    id="basic-website-hosting"
    title="Basic Website Hosting"
    tagline='Website Services'
    isReversed
    items={[
      {
        title: "Deployment of a Static Website",
        description: `We'll deploy a website that delivers key information about your organization in a clean, visually appealing format.`,
        icon: 'mdi:check-bold'        
      },
      {
        title: "Basic Contact Form Integration",
        description: 'A user-friendly contact form that allows visitors to easily reach out to your organization via email.',
        icon: 'mdi:check-bold'
      },
      {
        title: "Maintenance",
        description: 'Regular updates to ensure your website remains functional and secure.',
        icon: 'mdi:check-bold'
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1522542550221-31fd19575a2d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Marked paper with UI designs for a website'
    }}
  >
    <Fragment slot="content">
      Our basic website hosting service is ideal for organizations seeking a simple yet professional online presence.
    </Fragment>
  </Content>

  <CustomContent    
    id="adv-website-hosting"
    title="Advanced Website Hosting"
    content="Additionally for non-profits with more complex needs, our advanced hosting package provides the tools and features to create an interactive and robust web presence."
    tagline='Website Services'
    isReversed
    isAfterContent
    items={[
      {
        title: "Dynamic Website Functionality",
        description: 'A website that adapts to user input and provides customized content and experiences.',
        icon: 'mdi:plus-bold'        
      },
      {
        title: "Database Integration",
        description: 'Store and manage donor data, event registrations, volunteer applications, and other essential information seamlessly.',
        icon: 'mdi:plus-bold'
      },
      {
        title: "Enhanced Features",
        description: 'Options for e-commerce, member portals, event calendars, or any custom functionality tailored to your mission.',
        icon: 'mdi:plus-bold'
      },
      {
        title: "Maintenance and Updates",
        description: 'Comprehensive support to ensure your website runs smoothly and stays up-to-date with the latest technology.',
        icon: 'mdi:plus-bold' 
      }
    ]} 
  >
  </CustomContent>

  <CustomContent    
    id="website-design"
    title="Design Services"
    content="We do not handle website design directly. We collaborate with trusted third-party web design professionals to ensure your website meets your expectations. Design services are subject to the third party's rates, which will be provided and agreed upon separately. We coordinate closely with these designers to ensure seamless integration into our hosting and management services."
    tagline='Website Services'
    isReversed
    isAfterContent
    isEnd
  >
  </CustomContent>

  <CustomNote
    text='Organizations will be responsible for hosting fees, which will be billed at cost.'
  />

 <!--- NFP PROOF STUFF ---->

  <div id="nfp-proof" class="grid md:grid-flow-col auto-cols-auto gap-4 max-w-6xl mx-auto p-4 sm:px-6 mt-16">
    <div>
      <h2 class="text-4xl font-heading font-bold text-left">
        Proof of Not For Profit Status
      </h2>
      <hr class="my-4 h-[3px] border-none bg-primary" />
      <p>
        When you contact us, we will request proof of your not-for-profit status, for which any of the following is acceptable.
      </p>
    </div>
    <div class="flex flex-col gap-4 pb-8">
      <span class="flex items-start gap-2">
        <Icon name="mdi:book-search-outline" class="w-6 h-6 mt-1" />
        <p class="flex-1 font-serif">A reference to the applicant organization’s listing in the Internal Revenue Service’s (IRS) most recent list of tax-exempt organizations described in section 501(c)(3) of the IRS Code.</p>
      </span>
      <span class="flex items-start gap-2">
        <Icon name="mdi:license" class="w-6 h-6 mt-1" />
        <p class="flex-1 font-serif">A copy of a currently valid IRS tax exemption certificate.</p>
      </span>
      <span class="flex items-start gap-2">
        <Icon name="mdi:file-certificate-outline" class="w-6 h-6 mt-1" />
        <p class="flex-1 font-serif">A statement from a State taxing body, State Attorney General, or other appropriate State Official certifying that the applicant organization has a nonprofit status and that none of the net earnings accrue to any private shareholders or individuals.</p>
      </span>
      <span class="flex items-start gap-2">
        <Icon name="mdi:certificate-outline" class="w-6 h-6 mt-1" />
        <p class="flex-1 font-serif">A certified copy of the organization’s certificate of incorporation or similar document that clearly establishes nonprofit status.</p>
      </span>
      <span class="flex items-start gap-2">
        <Icon name="mdi:book-arrow-up-outline" class="w-6 h-6 mt-1" />
        <p class="flex-1 font-serif">Any of the above proof for a state or national parent organization and a statement signed by the parent organization that the applicant organization is a local nonprofit affiliate.</p>
      </span>
    </div>
  </div>

  <CallToAction />
</Layout>