---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import PageTitle from '../components/PageTitle.astro';
import CallToAction from '../components/CallToAction.astro';
import ServicesList from "../components/ServicesList.astro";

export const prerender = true;
const pageTitle = "Not For Profits";

const services = [
  {
    id: 'remote-it',
    title: 'Basic Remote IT Troubleshooting',
    rate: 'FREE',
    longDesc: 'Our remote IT troubleshooting service is designed to quickly address technical issues without the need for an onsite visit. Available in both basic and advanced tiers, this service helps you save time and money while resolving IT challenges efficiently.',
  },
  {
    id: 'remote-it-advanced',
    title: 'Advanced Remote IT Troubleshooting',
    rate: '$5/hr',
    longDesc: 'For issues that require a hands-on approach, our onsite IT troubleshooting service ensures prompt and professional assistance at your location. This service includes both basic and advanced support tailored to your specific needs.',
  },
  {
    id: 'onsite-it',
    title: 'Basic Onsite IT Troubleshooting',
    rate: 'FREE',
    longDesc: 'TODO? Does this need content or can this be removed? If this is not needed, delete the line im on.',
  },
  {
    id: 'onsite-it', /*  This ID is the same as the one above! */
    title: 'Advanced Onsite IT Troubleshooting',
    rate: '$10/hr',
    longDesc: 'TODO? Does this need content or can this be removed? If this is not needed, delete the line im on.',
  },
  {
    id: 'website-hosting',
    title: 'Basic Website Hosting & Management',
    rate: 'FREE',
    rateSubtext: '+ hosting fees',
    asterisk: true,
    longDesc: 'From basic to advanced, our website hosting and management services provide reliable solutions for maintaining your online presence. Additional hosting fees may apply depending on the chosen plan and requirements.',
  },
  {
    id: 'website-hosting', /*  This ID is the same as the one above! */
    title: 'Advanced Website Hosting & Management',
    rate: '$10/hr',
    rateSubtext: '+ hosting fees',
    asterisk: true,
    longDesc: 'TODO? Does this need content or can this be removed? If this is not needed, delete the line im on.',
  },
];
---
<DefaultLayout title="Not For Profits">
  <PageTitle 
    title={pageTitle} 
    desc="Alex's Guardian provides a subset of our services to not for profit organizations at a discounted rate or for free."
    notice="This page covers the services we offer, our rates, and how to provide proof of not for profit status." />
  
  <div class="container">
    
    <ServicesList Column1title="Service" Column2title="Rate" services={services}>
      <div slot="before" class="mb-4 text-center">
        <h3>Services and Rates</h3>
        <sub>Please see the table below for the services and rates we offer to not for profit organizations.</sub>
      </div>
      
      <p slot="after" class="text-center my-3">Services and rates are subject to change.</p>
    </ServicesList>

  <div>
  
  <CallToAction />
</DefaultLayout>