---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Alex's Guardian. All rights reserved.
      </p>
    </div>
  </section>
</footer>
