---
import { Icon } from 'astro-icon/components';

const { src = '/hero.webp' } = Astro.props;
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Alex's Guardian</span></slot>
        </h1>
        <h3>
          <slot>Transparent IT, No Surprises.</slot>
        </h3>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a href="mailto:info@alexsguardian.net" class="!no-underline">
            <button class=`flex items-center rounded-md bg-[var(--highlight-blue-400)] py-2 px-8 border border-transparent text-center text-lg text-[var(--neutral-200)] transition-all shadow-sm hover:shadow-lg focus:bg-[var(--highlight-blue-500)] focus:shadow-none active:bg-[var(--highlight-blue-500)] hover:bg-[var(--highlight-blue-500)] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none` type="button">
              <Icon name="ion:email" class="pr-2 h-10 w-10"/>
              Contact Us         
            </button>
          </a>
        </div>
      </div>
      <img
        class="hidden lg:block"
        src={src}
        alt="Laptop on a desk with a toolbag next to it"
        loading="lazy"
        decoding="async"
        height="743"
        width="710"
      />
    </div>
  </div>
</section>

<!-- style=`border-radius: 1rem;box-shadow:4px 4px 0 3px var(--background), 12px 12px 0 4px #6388c5;` -->

<style lang="scss">
  .text-gradient {
    background: linear-gradient(270deg, var(--highlight-purple-400) 25%, var(--highlight-blue-400) 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(270deg, var(--highlight-purple-300) 25%, var(--highlight-blue-400) 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>