---
interface Props {
    title: string;
    desc?: string;
    notice?: string;
}
const { title, desc, notice } = Astro.props;
---
<div class="pb-6">
    <h1 class="text-center">{title}</h1>
    {desc && <p class="text-center py-4">{desc}</p>}
    {notice && <p class="text-center text-sm">{notice}</p>}
</div>