---
import { Image } from 'astro:assets'
import { b64image } from '../base64image.jsx'
interface Props {
  title: string
  body: string
  aux: string
  img?: string
}

const { img = b64image, aux, title, body } = Astro.props
---

<!-- DEBUG: class="outline-dashed outline-2 outline-red-500" -->
<div class="relative project-item overflow-hidden h-[250px] w-[350px]">
  <Image class="absolute w-full h-full object-cover" alt="project image" src={img} width="350" height="250"/>
  <div class="absolute h-full w-full bg-white p-6 opacity-0 transition duration-300 ease-in-out hover:opacity-85">
    <h2 class="text-lg leading-7 text-gray-900">{title}</h2>
    <h3 class="text-sm leading-5 text-gray-900">{body}</h3>
    <p class="text-sm leading-5 text-gray-900">{aux}</p>
  </div>
</div>
